body {
    background-color: cornflowerblue;
}

.header {
    align-items: center;
    text-align: center;
    color: white;
    font-family: helvetica;
}


.header1 {
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Anonymous Pro', monospace;

}
#survey-form {

  margin-left: auto;
  margin-right: auto;
  color: white;
}
h5 {
  font-size: 25px;
  margin-bottom: 5px;
  color: white
}
input {
  width: 100%;
}
#name {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.form {
  background-color: darkblue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

#button {
  background-color: green;
  color: white;
}
